@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Original+Surfer&family=Righteous&family=Shrikhand&family=Sigmar+One&display=swap');

/*
fontfamilies of this import-----///////

font-family: 'Audiowide', cursive;
font-family: 'Original Surfer', cursive;
font-family: 'Righteous', cursive;
font-family: 'Shrikhand', cursive;
font-family: 'Sigmar One', cursive;

----------//////-------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  overflow: hidden;
}

.main_header,
.navigation_bar {
  width: 100vw;
  height: 14rem;
}

.logo,
.menu {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  background-image: url('Raksha.png');
  background-position: center;
  background-size: 100% 100%;
  position: relative;
  height: 7rem;
}
/*
nav {
  animation: color_change 15s linear infinite;
}

@keyframes color_change {
  0% {
    background: #E962ED;
  }

  20% {
    background: #333;
  }

  40% {
    background: #2DFC93;
  }

  60% {
    background: #2D88FB;
  }

  80% {
    background: #8764EF;
  }

  100% {
    background: #E962ED;
  }

}
*/
.menu {
  height: 7rem;
  justify-content: space-evenly;
  background-color: transparent;
}

.menu a {
  color: #8E94D4;
  text-decoration: none;
  font-family: 'Righteous', cursive;
  border: 0.5px transparent transparent;
  box-shadow: inset 0px 0px 2px 3px #fff, 1px 1px 4px 0px #555555, inset 1px 1px 6px 1px #555555, inset -0.5px -0.5px 6px 1px #555555;
}

.menu a {
  font-size: 1.5rem;
  padding: .5rem 1.5rem;
  border-radius: 4px;
  background-color: #fff;
}


.raksha {
  width: 2rem;
  height: 2rem;
  background-color: #30ECFF;
  border-radius: 50%;
  border: 0.13px solid #FF8000;
  position: relative;
  left: 2.3rem;
  bottom: 1rem;
  transform: rotate(-25deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.raksha::before,
.raksha::after {
  content: " ";
  width: 1.5rem;
  height: 3rem;
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%) rotate(80deg);
}

.raksha::before {
  left: -1.5rem;
  transform-origin: left;
  border-radius: 0px 0px 0px 500px;
  border-left: 1.5px solid #FF8000;
}

.raksha::after {
  right: -1.5rem;
  transform-origin: right;
  border-radius: 0px 500px 0px 0px;
  border-right: 1.5px solid #FF8000;
}

.circle {
  position: absolute;
  border-radius: 50%;
  border: 0.1px solid;
}

.c1 {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #FF4E00;
}

.c2 {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #FFFFFF;
}

.c3 {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #CD52F2;
}

.sec_row {
  height: 12rem;
  width: 100vw;
  background-color: lightskyblue;
}

iframe{
  width: 100%;
  height: 100%;
}

.foter {
  width: 100%;
  height: auto;
  color: #CFCFCF;
  font-style: 15px;
  font-family: sans-serif;
  background-color: #464646;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  bottom: 0;
}
video{
  height: 100%;
  width: 100%;
}

article{
  height: 30rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

article p{
  height: 90%;
  width: 30rem;
  background: #fff;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  border-radius: 1rem;
  border: 2px transparent transparent;
  padding: 2rem;
  /*
  box-shadow: 0px 0px 2px 5px #ddd , 2px 2px 2px 6px #555555, inset 2px 2px 6px 2px #555555 ; */
  box-shadow: inset 0px 0px 2px 5px #fff, 2px 2px 6px 0px #555555, inset 4px 4px 6px 2px #555555, inset -2px -2px 6px 2px #555555;
}

